<p class="text-center text-muted">&copy; Copyright 2022 GoDaddy - More info available here: <a href="https://github.com/godaddy/timings" target="_blank">GitHub README</a> <i
  class="fa fa-external-link"></i></p>