<!-- pager -->
<div class="pager">
  <img src="https://mottie.github.io/tablesorter/addons/pager/icons/first.png" class="first" />
  <img src="https://mottie.github.io/tablesorter/addons/pager/icons/prev.png" class="prev" />
  <span class="pagedisplay"></span> <!-- this can be any element, including an input -->
  <img src="https://mottie.github.io/tablesorter/addons/pager/icons/next.png" class="next" />
  <img src="https://mottie.github.io/tablesorter/addons/pager/icons/last.png" class="last" />
  <select class="gotoPage" title="Select page number"></select>
</div>