{
    "env": {
        "es2020": true,
        "node": true,
        "mocha": true
    },
    "extends": "godaddy",
    "parserOptions": {
        "ecmaVersion": 11,
        "sourceType": "module"
    },
    "rules": {
        "no-prototype-builtins": "off",
        "no-process-env": "off",
        "max-statements": "off",
        "complexity": "off",
        "no-console": "off",
        "no-sync": "off"
    }
}