language: node_js
node_js:
  - '9'
  - '8'
cache:  
  directories:
    - "node_modules"
notifications:
  email: false
before_install:
  - npm i -g npm@^5.0.0
before_script:
  - npm prune
script:
  - npm run test

after_success:
  - npm run semantic-release
